doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Genetic Algorithms and You

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/reveal.js/css/reveal.min.css')
    link(rel='stylesheet', type='text/css', href='bower_components/reveal.js/css/theme/default.css')
    // endbuild

  body
    div.reveal
      div.slides
        section
          h2 The Wow of Genetic Algorithms
          br
          h3 By Roey Chasman

        section
          h2 What Are Genetic Algorithms?
          br
          p.bullet Genetic Algorithms use evolutionary principles to 'evolve' and 'adapt' based on environments to some truth, prediction, or optimization.

        section
          h2 DNA and Genes
          br
          ul
            li
            li.bullet Genetic Algorithms (GAs) are programs that are modeled after biological reproduction.
            li They are easy to think about when we use metaphors from occurences in nature.
            li 'Genes' are a metaphor for features or traits in a problem space.
            li Collectively Genes are referred to as 'DNA'
            li GA's recombinate Genes in DNA to hopefully evolve better and better solutions.
            li Applying GA means carefully selecting the problem features to use in your DNA.

        section
          h2 What's in a GA? Actors
          br
          p Actors what we call individuals within a population.
          ul
            li
            li Actors have their own DNA contributed by their parents or random chance.
            li Actors are evaluated for fitness.
            li Actors breed, some more than others.
            li Actors die..

        section
          h2 What's in a GA? Populations
          br
          ul
            li A Population is a discrete generation of actors.
            li Populations have sizes. Some GA's might use fixed or variable population sizes.
            li The Population or generation size is a critical input to any GA.

        section
          h2 Implementation
          br
          p While not necesarily 'easy' to implement, GA's actually follow a simple series of steps.
          ol
            li I. Genesis
            li II. Fitness
            li III. Reproduction
            li IV. Death

        section
          h2 I. Genesis - First Generation
          br
          p
          ol
            li
            li I. Genesis
            li II. Fitness
            li III. Reproduction
            li IV. Death

        section
          h2 Genesis - Initial Seed
          canvas#alpha(data-processing-sources="scripts/actor.pde scripts/drawing.pde")
          span
            button#pauser(onClick='pause()') Pause
            button(onClick='reset()') Reset

        section
          h2 Resources:
          ol
            li <a href="http://www.blprnt.com/smartrockets/">Example: Smart Rockets</a>
            li <a href="http://boxcar2d.com/index.html">Example: 2D Cars</a>
            li <a href="http://multigrad.blogspot.com/2014/04/math-evolution-and-dirty-tricks.html">Fun: Genetic Programming to find Quake III's fast inverse square hack</a>
            li <a href="http://natureofcode.com/book/chapter-9-the-evolution-of-code/">Book: Nature of Code</a>
            li <a href="https://code.google.com/p/deap/">Library: DEAP</a>
            li
              pre
                code.language-javascript.
                  var nice = 5 + 5;
                  var nice = 5 + 5;
                  nice();
          p Inspired by <a href="https://twitter.com/allingeek">Jeff Nickoloff's</a> Desert Code Camp talk.
          p This repo on <a href="http://www.github.com/rchasman/genetic-algorithm-presentation">Github</a>

    // build:js scripts/scripts.js

    script(src='bower_components/reveal.js/js/reveal.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='bower_components/Processing.js/Processing.min.js')
    script(src='scripts/main.js')
    // endbuild
