doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    title Genetic Algorithms and You
    link(rel='stylesheet', type='text/css', href='bower_components/reveal.js/css/reveal.min.css')
    link(rel='stylesheet', type='text/css', href='bower_components/reveal.js/css/theme/default.css')

  body
    div.reveal
      div.slides

        section
          h2 The Wow of Genetic Algorithms
          h3 By Roey Chasman
          img(class='fragment zoom-in' src='styles/doge1.jpg')

        section
          h2 What are they?
          ul
            li.fragment Genetic Algorithms (GAs) are algorithms that use Darwinian principles to reactively converge upon optimal solutions in their environment.
            br
            li.fragment Technical Definition: "A machine learning technique used to optimize a population of computer programs according to a fitness landscape determined by a program's ability to perform a given computational task."
            br
            li.fragment Sound complicated? GAs are easy to think about when we use metaphors from occurences in nature.

        section
          h2 Darwinian Theory
          br
          p.fragment "All species of organisms arise and develop through the natural selection of small, inherited variations that increase the individual's ability to compete, survive, and reproduce." - Wikipedia
          br
          p.fragment If we want to abstract this theory into code let's first drill down the concept.
          br
          ul
            li.fragment In nature, the process of evolution has no contextual knowledge. It's 'dumb'.
            li.fragment Various expressions of traits are selected to be passed on based on their results of a fitness ranking among the survivors.

        section
          h2 This is Life
          br
          ol.fragment
            li.fragment.grow We are born.
            li.fragment.grow We do stuff.
            li.fragment.grow We make babies.
            li.fragment.grow We die.
          div.fragment
            img(src='styles/what.gif')
            p.fragment GAs are implementions of life.

        section
          h2 Abstractions of Genetic Algorithms
          br
          p.fragment.grow.highlight-blue DNA and Genes
          br
          p.fragment.grow.highlight-red Actors
          br
          p.fragment.grow.highlight-green Populations

        section
          h2 Abstraction: DNA and Genes
          p.fragment 'Genes' are the metaphor for expressed traits in a problem space.
          p.fragment Collectively Genes are referred to as 'DNA'
          br
          ul.fragment
            li GAs recombinate their Genes inside of DNA to evolve.
            li DNA set's must be populated by thoughtful selections of traits.

        section
          h2 Abstraction: Actors
          p.fragment Actors what we call individuals within a population.
          br
          ul.fragment
            li An Actor's DNA is either inherited from their parents or random chance.
            li Actors are evaluated for fitness.
            li Actors breed. Some more than others.
            li Actors die..

        section
          h2 Abstraction: Populations
          p.fragment A Population is a discrete generation of actors.
          br
          ul.fragment
            li Populations have sizes.
            li Fixed or variable population sizes is an implementation choice.
            li A Population's generation size is a critical input to any GA.

        section
          h2 Specifics
          br
          p Remember how life works?
          br
          table(style='border-spacing: 60px 0px; margin: 0px auto;')
            tr
              td.fragment(data-fragment-index="1")
                li We are born.
              td.fragment.zoom-in(data-fragment-index="5")
                p I. Genesis
            tr
              td.fragment(data-fragment-index="2")
                li We do stuff.
              td.fragment.zoom-in(data-fragment-index="5")
                p II. Fitness
            tr
              td.fragment(data-fragment-index="3")
                li We make babies.
              td.fragment.zoom-in(data-fragment-index="5")
                p III. Reproduction
            tr
              td.fragment(data-fragment-index="4")
                li We die.
              td.fragment.zoom-in(data-fragment-index="5")
                p IV. Death
          br
          p.fragment Now lets implement it!

        section
          h2 Implementation

        section
          h2 Caveats
          br
          li.fragment Diversity is key! If there isn't enough variance among the initial population the population will have a hard time improving upon their previous generation.
          br
          li.fragment Random mutations are introduced during reproduction.
          br
          li.fragment GAs naturally optimize by favoring Actors that have high fitness rankings for reproduction.
          br
          li.fragment Even without actual analysis of the rules of the problem given enough variance GAs will converge upon an approximate solution.
          br
          img(class='fragment zoom-in' src='styles/yeahscience.gif')


        section
          h2 Genesis - Initial Seed
          canvas#alpha(data-processing-sources="scripts/actor.pde scripts/drawing.pde")
          br
          span
            button#pauser(onClick='pause()') Pause
            button(onClick='reset()') Reset

        section
          h2 Resources:
          ol
            li <a href="http://www.blprnt.com/smartrockets/">Example: Smart Rockets</a>
            li <a href="http://boxcar2d.com/index.html">Example: 2D Cars</a>
            li <a href="http://multigrad.blogspot.com/2014/04/math-evolution-and-dirty-tricks.html">Fun: Genetic Programming to find Quake III's fast inverse square hack</a>
            li <a href="http://natureofcode.com/book/chapter-9-the-evolution-of-code/">Book: Nature of Code</a>
            li <a href="https://code.google.com/p/deap/">Library: DEAP</a>

        section
          h1 Thank You
          p Inspired by <a href="https://twitter.com/allingeek">Jeff Nickoloff's</a> Desert Code Camp talk.
          p This repo on <a href="http://www.github.com/rchasman/genetic-algorithm-presentation">Github</a>

    // build:js scripts/scripts.js

    script(src='bower_components/reveal.js/js/reveal.js')
    script(src='bower_components/Processing.js/Processing.min.js')
    script(src='scripts/main.js')
    // endbuild
